* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #19a2ae;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-position: right 70vw bottom 50vh, left 65vw top 50vh;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;
}

p {
  color: #969696;
  display: inline-block;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 350px;
}

.card-container .card .top {
  content: url("./images/bg-pattern-card.svg");
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.card-container .card .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.card-container .card .content .img {
  content: url("./images/image-victor.jpg");
  width: 96px;
  height: 96px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -50px;
  right: 0px;
  border-radius: 50px;
  border: 5px solid white;
  margin-bottom: -50px;
}

.card-container .card .content .name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-container .card .content .location {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-container .card .content .bottom {
  border-top: 1px solid #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-container .card .content .bottom div {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.card-container .card .content .bottom div p {
  font-size: 10px;
}

.attribution {
  padding: 10px;
}
/*# sourceMappingURL=styles.css.map */