@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	color: black;
	@include flexCenter();
	background-color: hsl(185, 75%, 39%);
	z-index: 1;
	position: relative;
	min-height: 100vh;
	background-image: url(../images/bg-pattern-top.svg),
		url(../images/bg-pattern-bottom.svg);
	background-position: right 70vw bottom 50vh, left 65vw top 50vh;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
}
p {
	color: hsl(0, 0%, 59%);
	display: inline-block;
}

.card-container {
	.card {
		display: flex;
		flex-direction: column;
		min-height: 350px;
		.top {
			content: url('./images/bg-pattern-card.svg');
			position: relative;
			border-radius: 10px 10px 0px 0px;
		}
		.content {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			background-color: white;
			border-radius: 0px 0px 10px 10px;
			.img {
				content: url('./images/image-victor.jpg');
				width: 96px;
				height: 96px;
				align-self: center;
				position: relative;
				top: -50px;
				right: 0px;
				border-radius: 50px;
				border: 5px solid white;
				margin-bottom: -50px;
			}
			.name {
				flex: 1 1 auto;
				align-self: center;
			}
			.location {
				flex: 1 1 auto;
				align-self: center;
			}
			.bottom {
				border-top: 1px solid hsl(0, 0%, 59%);
				display: flex;
				width: 100%;
				justify-content: space-evenly;
				align-items: center;
				flex: 1 1 auto;
				div {
					padding: 10px;
					text-align: center;
					font-size: 18px;
					p {
						font-size: 10px;
					}
				}
			}
		}
	}
}

.attribution {
	padding: 10px;
}
